body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff8e4;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {

  padding: 2rem;
  margin: auto;
  background-color: #b8d3be;
}

html {
  max-width: 140ch;
  margin: auto;
}

.header{
  display: flex;
  align-items: flex-end;
  height: 4rem;
  background: linear-gradient(0deg, #005013 1.18%, #009f25 100%);
  color: white;
  padding: 1.25rem;
}

.header--image {
  height: 100%;
  margin-right: 0.4rem;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--subtitle {
  font-size: 1rem;
  font-weight: 500;
}

.tea--card{
  border: 1px solid black;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}

.tea--card--thumb{
  width: 6rem;
}