body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

main {
  background-color: #b8d3be;
  overflow-y: scroll;
  height: 87vh;
}

form{
  margin:auto;
  width: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#wrapper {
  max-width: 140ch;
  margin: auto;
  display:flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  display: flex;
  align-items: center;
  height: 8vh;
  background: linear-gradient(0deg, #009f25 1.18%, #005013 100%);
  color: white;
  padding: 1.25rem;
}

.header--image {
  height: 100%;
  margin-right: 0.4rem;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--subtitle {
  font-size: 1rem;
  font-weight: 500;
}

.tea--list{
  width: 90%;
  margin: auto;
}

.tea--card{
  border: 1px solid #9c8245;
  padding: 1em 1rem;
  display: flex;
  
  margin: 0.25rem 0;
  justify-content: space-evenly;
}

.tea--card--thumb{
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  margin-right: 0.5rem;
}

.tea--card--details{
  width:100%;
  display: flex;
  justify-self: center;
}

.tea--card--text{
  display: flex;
  align-items: center;
}

.tea--card--sell{
  display: flex;
  align-items: center;
}

.tea--card--button{
  width: 4rem;
}

.tea--detail{
  width: 50%;
  margin: auto;
}

.tea--detail--image{
  width: 15rem;
}

.form--header{
  display:flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.form--image{
  height: 10rem;
  width: 10rem;
  margin-right: 0.5rem;
  object-fit: cover;
}

.main-button{
  height: 5rem;
  margin: auto;
  width: 50%;
  display:block;
}

.footer{
  bottom: 0;
  background: linear-gradient(0deg, #005013 1.18%, #009f25 100%);
  justify-self: end;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

